.similar-movie-wrapper {
  height: calc(100vh - 66.4px);
  overflow: auto;
}

.content-wrapper {
  position: relative;
}
.content-wrapper .poster img {
	width: 100%;
	opacity: .6;
}

.content-wrapper
.detail-movie {
	position: absolute;
	top: 0;
	padding: 32px;
	width: 30%;
  background: #471010;
  opacity: 0.7;
  height: 570px;
  overflow: auto;
}

.detail-movie
.movie-title {
	color: white;
	text-align: left;
	font-size: 52px;
}

.detail-movie
.movie-description {
	color: white;
	text-align: left;
}

.detail-movie
.movie-release-date {
	text-align: left;
	display: block;
	color: white;
}

.content-wrapper
.movie-card {
	display: block;
  width: 17%;
  margin-bottom: 36px;
}

.similar-movie-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px;
}

.similar-movie-area .movie-card .poster img {
  width: 168px;
  border-radius: 8px;
}

.similar-movie-area .movie-card
.movie-title {
	display: block;
	color: white;
	font-weight: bold;
	font-size: 16px;
  word-wrap: break-word;
}

.similar-movie-area .movie-card
.release-date {
	color: white;
	font-size: 12px;
}

h2 {
	color: white;
	text-align: left;
	margin: 82px 32px 0px 62px;
}